// Header
.header {
  position: relative;

  &__wrap {
    position: relative;
    padding-left: 18px;

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: -3px;
      left: 0;
      width: 8px;
      height: 100%;
      background-color: var(--text-point);
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 1;
    color: var(--text-point);
  }

  &__desc {
    font-size: 15px;
    color: var(--text-default);
  }

  &__link-area {
    margin-top: 15px;

    @media screen and (min-width: 801px) {
      margin-top: 0;
    }
  }

  &__link {
    font-size: 18px;
    color: var(--text-point);

    + .header__link {
      margin-left: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .inner {
    align-items: baseline;
    flex-flow: column;

    @media screen and (min-width: 801px) {
      flex-flow: nowrap;
    }
  }
}

// Section
.section {
  position: relative;
  flex: 1 1 auto;
  padding: 0 10% 5rem;

  @media screen and (min-width: 801px) {
    padding: 0 80px 6rem;
    max-width: 1240px;
    margin: 0 auto;
  }

  &__subject {
    font-size: 25px;
    font-weight: 500;
  }

  &__desc {
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-default);
  }
}

.project {
  margin-top: 50px;

  &__list {
    margin-top: 30px;
  }

  &__title-text {
    position: relative;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      right: -11px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--text-point);
    }
  }

  &__period {
    color: #949599;
    font-size: 14px;
  }

  &__desc {
    color: var(--text-default);
    white-space: pre-line;
    font-size: 15px;
  }

  &__tech {
    font-size: 15px;
    color: var(--text-default);
  }

  &__url {
    color: var(--text-point);
  }

  .c-point {
    display: block;
    color: var(--text-point);
    font-size: 16px;
    font-weight: 600;
  }
}

// Footer
.footer {
  background-color: var(--bg-color);
  color: var(--text-point);
  font-weight: 200;
}


// layout css
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10%;

  @media screen and (min-width: 801px) {
    padding: 100px 80px;
    max-width: 1240px;
    margin: 0 auto;
  }
}

.site-contact {
  font-size: 0;

  &__link {
    display: inline-block;
    margin: 0 12px;
  }

  &__icon {
    font-size: 35px;
  }
}

